@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "variables.css";

html, body {
    background-color: var(--html-bg-color);
}

.container-wrap {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.popup-toggle {
    width: 100%;
    height: 60px;
    outline: none;
    border-radius: 10px;
    font-family: var(--font-family-form);
    color: var(--main-color);
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
    border: 4px solid var(--main-border-color);
    transition: ease-in-out .2s;
    background-color: var(--main-bg-color-form);
    cursor: pointer;
    margin: 0 auto;
}

.popup-toggle:hover {
    background-color: var(--main-color);
    color: var(--main-bg-color-form);
    border: 2px solid var(--main-border-color);
}

.form-main {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: var(--popup-bg-color);
}

.form-div {
    background-color: var(--form-div-bg-color);
    padding: 35px 35px 50px 35px;
    width: calc(100% - 150px);
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-modal {
    display: block;
    opacity: 1;
}

.feedback-input {
    opacity: 0.9;
    color: var(--font-color-form);
    font-family: var(--font-family-form);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--input-bg-color);
    border: none;
    padding: 13px 13px 13px 15px;
    width: calc(100% - 20px);
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.feedback-input:focus {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--main-color);
    box-shadow: none;
    border: 0 solid var(--main-color);
    outline: none;
    color: #3498db;
    padding: 13px 13px 13px 15px;
}

.focused {
    color: var(--color-focused);
    border: 3px solid var(--color-focused);
}

/* Icons ---------------------------------- */

#meter select {
    font-size: .9rem;
    padding: 2px 5px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color: var(--main-color);
}

.button-blue {
    font-family: var(--font-family-form);
    border: 4px solid var(--main-border-color);
    background-color: var(--main-bg-color-form);
    color: var(--main-color);
    cursor: pointer;
    float: left;
    width: 100%;
    font-size: 24px;
    padding: 22px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 10px;
}

.button-blue:hover, .button-blue:active {
    background-color: var(--popup-bg-color-secondary);
    color: var(--secondary-color);
}


.submit:hover {
    color: var(--secondary-color);
}

.ease {
    border-top: 3px solid var(--ease-border);
    width: 0;
    height: 76px;
    background-color: var(--main-border-color);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    border-radius: 10px;
}

.submit:hover .ease {
    width: 100%;
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--color-hover);
}

.meter-label {
    color: var(--color-label);
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.meter-select {
    width: calc(60% - 80px);
    height: 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
}

.name, .phone, .email {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    padding-left: 15px;
    margin-top: 28px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.name:hover, .phone:hover, .email:hover {
    cursor: pointer;
    box-sizing: border-box;
}

.phone:hover, .email:hover {
    margin-top: 28px;
}

.name i, .phone i, .email i {
    padding-left: 5px;
    cursor: pointer;
}

.name i:hover, .phone i:hover, .email i:hover {
    cursor: pointer;
}

.text {
    width: 100%;
}

textarea.feedback-input {
    width: 100%;
    resize: none;
}

.popup-text-container {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--popup-bg-color);
    z-index: 9000;
    opacity: .3;
    padding: 35% 5%;
}

.popup-up {
    display: block !important;
    color: var(--main-bg-color-form);
    transition: ease-in-out .2s;
    letter-spacing: 2px;
    font-size: 2rem;
    font-family: var(--font-family-form);
    font-weight: 600;
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    height: 100vw;
    position: fixed;
}

.error-box-form, .error-box-form::placeholder {
    box-sizing: border-box;
    color: var(--border-color-error);
    background-color: var(--main-color);
}

.error-box-form:focus, .error-box-form:hover {
    box-sizing: border-box;
    color: var(--border-color-error);
}

.border {
    border: 2px solid var(--border-color-error);
}

.error-message {
    color: var(--border-color-error);
}

.close {
    position: absolute;
    right: 32px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 7px;
    background-color: var(--close-btn-color);
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 580px) {
    .form-div {
        position: absolute;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
        top: 60%;
        z-index: 9999;
    }

    .label {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .meter-label {
        display: none;
    }

    .meter-select {
        min-width: 100px;
        width: 100%;
    }
}